alembic==1.16.5
bcrypt==4.0.1
fastapi==0.135.1
itsdangerous==2.2.0
passlib==1.7.4
pillow==12.1.1
pydantic==2.12.5
python-multipart==0.0.20
pytest==9.0.2
slowapi==0.1.9
starlette==0.52.1
uvicorn==0.41.0
